# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# Django
db.sqlite3
media/
staticfiles/

# Logs
*.log

# Migrations (optional)
# */migrations/*
# !*/migrations/__init__.py

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Testing
.coverage
htmlcov/
.pytest_cache/

# Type Checking
.mypy_cache/

# Distribution
build/
dist/
*.egg-info/